<div>
    <img src="/logo.jpg" alt="">
</div>


<h1>Ingresa para disfrutar</h1>

<p>introduce tus credenciales</p>

<input type="text">
<br><br>
<input type="text">
<br>
<button>Crear una cuenta</button>
<br>
<button>Sign in</button>
<br>
<a href="">Olvidaste tu contraseña</a>