<mat-sidenav-container fullscreen>
    
    <mat-sidenav #sidenav mode="push">
        
        <mat-toolbar color="primary">
            <span>Mi Perfil</span>
            <span class="spacer"></span>
            <button mat-icon-button
                    (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            
        </mat-toolbar>

        <mat-nav-list>
            <a routerLink="./demografico"
               mat-list-item
               (click)="sidenav.toggle()">
                <mat-icon mat-list-icon>label</mat-icon>
                <span>Perfil demográfico</span>
            </a>

            <a routerLink="./deportivo"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>label</mat-icon>
                <span>Perfil deportivo</span>
            </a>

            <a routerLink="./alimenticio"
               mat-list-item
               (click)="sidenav.toggle()">
               <mat-icon mat-list-icon>label</mat-icon>
                <span>Perfil alimenticio</span>
            </a>
            
        </mat-nav-list>
        
    </mat-sidenav>

    <mat-toolbar>
        <button mat-icon-button
                (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>

        <span class="spacer"></span>


        <p>sportAPP</p>
        <span class="spacer"></span>
        Juan Perez

        <button mat-button>
            Cerrar Sesión
        </button>
    </mat-toolbar>


    <div class="container">
        Bienvenido, Juan Perez !!
        <br><br>
        <router-outlet></router-outlet>
    </div>

</mat-sidenav-container>